In [1]:
import pandas as pd
import glob

C:\Users\nroy0\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
data_folder = 'Data/*.csv'

In [7]:
list_dfs = []
for each in glob.glob(data_folder):
    df_tweets_daily = pd.read_csv(each)
#     print(df_tweets_daily)
    list_dfs.append(df_tweets_daily)
df_all_tweets = pd.concat(list_dfs, axis=0, ignore_index=True)

In [8]:
df_all_tweets.shape

(261491, 7)

In [20]:
df_all_tweets['content'][261486]

'Sherpa Zip Up Jacket\n19% off code: ZFTW18 @zaful_official \nSHOP&gt;&gt;https://t.co/QnmUd0pPkd\n\n#ChatGPT #wafc #TheLastOfUs #TheBachelor #BBTitans #DeadlineDay #earthquake #FACup #GRAMMYs #HogwartsLegacy #IrelandisFull #JacksonWang #loveisland #LUFC #MCStan #onlyfans https://t.co/1evIaqGfeB'

In [10]:
df_all_tweets.tail()

,date,id,content,view_count,like_count,retweet_count,coordinates
261486,2023-02-13 00:00:18+00:00,1624921368847581184,Sherpa Zip Up Jacket\n19% off code: ZFTW18 @za...,2504.0,0,1,NaN
261487,2023-02-13 00:00:13+00:00,1624921348077236224,The best thing about #ChatGPT is how it can cr...,62.0,1,0,NaN
261488,2023-02-13 00:00:12+00:00,1624921341605425152,"Through our EON-XR app, you can create VR work...",125.0,6,3,NaN
261489,2023-02-13 00:00:03+00:00,1624921305534324736,Noun: thane\n\nA thane is a medieval title of ...,21.0,2,1,NaN
261490,2023-02-13 00:00:01+00:00,1624921296726560769,"$AI - Still above the 10ma, all this talk abou...",127.0,2,0,"Coordinates(longitude=-117.117116, latitude=32..."

In [22]:
df_all_tweets['date'].min()

'2022-11-01 02:57:46+00:00'

In [23]:
df_all_tweets['date'].max()

'2023-02-13 23:58:52+00:00'

In [40]:
df_all_tweets.to_csv('_tweets.csv', index=False)