In [1]:
import pandas as pd
import glob

In [2]:
data_folder = 'Data/*.csv'

In [3]:
list_dfs = []
for each in glob.glob(data_folder):
    df_tweets_daily = pd.read_csv(each)
#     print(df_tweets_daily)
    list_dfs.append(df_tweets_daily)
df_all_tweets = pd.concat(list_dfs, axis=0, ignore_index=True)

In [4]:
df_all_tweets.shape

(284168, 7)

In [5]:
df_all_tweets['content'][261486]

'Your Brand is what you do.\nYour Product is how you do it.\nYour Marketing is why you do it.\nYour Visibility is how we know you. \n\nMiss any of the puzzle at your loss. They all compliment each other.\n\n#AUSvsIND #Nordstream2 #‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡∏°‡∏µ‡∏°‡∏¥‡∏ô‡∏¢‡∏∏‡∏ô‡∏Å‡∏¥‡πÅ‡∏•‡πâ‡∏ß #ÿß #ChatGPT #ValentinesWeek'

In [6]:
df_all_tweets.tail()

,date,id,content,view_count,like_count,retweet_count,coordinates
284163,2023-02-18 00:00:09+00:00,1626733270103719936,"""Wow, so VAR finally forced Lee Mason out of P...",41.0,0,0,NaN
284164,2023-02-18 00:00:08+00:00,1626733264714010625,"A rabbi in New York wrote a 1,000-word sermon ...",118.0,0,0,NaN
284165,2023-02-18 00:00:02+00:00,1626733242735902722,Noun: squat\n\nA squat is when you pretend you...,21.0,2,1,NaN
284166,2023-02-18 00:00:01+00:00,1626733236444598276,In #ReasonGoodGames new #MMORPG Anticthon base...,56.0,4,2,NaN
284167,2023-02-18 00:00:00+00:00,1626733232208154625,How chatgpt will affect the future of SEO? üòÆ\n...,16.0,1,0,NaN

In [7]:
df_all_tweets['date'].min()

'2022-11-01 02:57:46+00:00'

In [8]:
df_all_tweets['date'].max()

'2023-02-18 23:59:56+00:00'

In [9]:
# df_all_tweets.to_csv('chat_tweets_Nov22_Feb23.csv', index=False)

In [10]:
df_all_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284168 entries, 0 to 284167
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           284168 non-null  object
 1   id             284168 non-null  int64
 2   content        284168 non-null  object
 3   view_count     228607 non-null  float64
 4   like_count     284168 non-null  int64
 5   retweet_count  284168 non-null  int64
 6   coordinates    6284 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 15.2+ MB